/replicate_layout_GUI.py
/replicate_layout.log
*.jpg
.directory
__pycache__/
.idea/
*.png
replicate_layout_error.log
/replicate_layout_test_project/replicate_layout_temp_project_temp_outter.kicad_pcb
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner.kicad_pcb
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner_alt.kicad_pcb
/replicate_layout_test_project/fp-info-cache
/replicate_layout_test_project/.directory
/replicate_layout_test_project/replicate_layout_test_project-backups
/replicate_layout_test_project/replicate_layout_temp_project_temp.kicad_prl
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner.kicad_prl
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner_alt.kicad_prl
/replicate_layout_test_project/replicate_layout_temp_project_test_inner.kicad_prl
/replicate_layout_test_project/replicate_layout_test_project_temp.kicad_prl
/replicate_layout_test_project/replicate_layout_test_project_test.kicad_prl
/replicate_layout_test_project/*.log
/replicate_layout_test_project/replicate_layout_temp_project_test_inner.kicad_pro
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner.kicad_pro
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner_alt.kicad_pro
/replicate_layout_test_project/replicate_layout_temp_project_temp_outter.kicad_pro
