/replicate_layout_GUI.py
/replicate_layout_test_project/replicate_layout_test_project-backups
*.jpg
.directory
__pycache__/
.idea/
*.png
*.log
*.zip
*.kicad_prl
/replicate_layout_test_project/fp-info-cache
/replicate_layout_test_project/.directory
/replicate_layout_test_project/*.log
/replicate_layout_fp_text/replicate_layout_fp_text-backups
/replicate_layout_fp_text/replicate_layout_fp_text_temp_inner.kicad_pro
/replicate_layout_fp_text/replicate_layout_fp_text_test_inner.kicad_pro
/replicate_layout_fp_text/replicate_layout_fp_text_temp_inner.kicad_prl
/replicate_layout_fp_text/replicate_layout_fp_text_test_inner.kicad_prl
/replicate_layout_fp_text/fp-info-cache
/replicate_layout_test_project/replicate_layout_test_project_temp_outter.kicad_pro
/replicate_layout_test_project/replicate_layout_test_project_temp_outter.kicad_prl
/replicate_layout_test_project/replicate_layout_test_project_temp_outer.kicad_pro
/replicate_layout_test_project/replicate_layout_test_project_temp_outer.kicad_prl
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner.kicad_prl
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner.kicad_pro
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner_alt.kicad_prl
/replicate_layout_test_project/replicate_layout_temp_project_temp_inner_alt.kicad_pro
/replicate_layout_test_project/replicate_layout_temp_project_temp_outter.kicad_pro
/replicate_layout_test_project/replicate_layout_test_project_temp.kicad_prl
/replicate_layout_test_project/replicate_layout_test_project_temp_inner.kicad_prl
/replicate_layout_test_project/replicate_layout_test_project_temp_inner.kicad_pro
/replicate_layout_test_project/replicate_layout_test_project_temp_inner_alt.kicad_pcb
/replicate_layout_test_project/replicate_layout_test_project_temp_inner_alt.kicad_prl
/replicate_layout_test_project/replicate_layout_test_project_temp_inner_alt.kicad_pro
/replicate_layout_test_project/replicate_layout_test_project_temp_outer.kicad_pcb
/replicate_layout_fp_text/replicate_layout_fp_text_temp_inner.kicad_pcb
ReplicateLayout-1.0.0-pcm.zip
metadata_package.json
metadata.json
replicate_layout_test_project
replicate_layout_fp_text
/replicate_issue_2
/eewiz_issue_14
/gunter_test_issue_25
/InstantMuffin_test_issue_23
/KiCad_2ndTestProject_v1
/krivospitsky_issue
